body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.card-img-top{
    height: 200px;
}
.teacher{
    background-color: rgba(0, 0, 0, 0.368);
    border-radius: 5px;
}
.plan{
    background: url("./../img/image-7-e1659730015857.png") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.text-center {
    margin-top: 20px;
}